:root {
  // default //
  --default-black: #000000;
  --default-white: #ffffff;
  --arial: "Arial", "sans-serif", "Verdana";
  --tablet-width: 768px;
  --desktop-width: 1920px;
  --mobile-width: 320px;

  // custom
  --main-font: "Roboto", "Arial", "sans-serif";
  --grey1: #E5E5E5;
  --black1: #333333;
  --green1: #66C05D;
  --desktop-r-padding: 405px;
  --desktop-l-padding: 405px;
  --grey2: #EFEFEF;
  --grey3: #C4C4C4;
  --grey4: #828282;
}
